@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');

p {
  color: #5E5E5E;
}

h2,
p,
h3,
h4 {
  font-family: "League Spartan", sans-serif;
}

h3 {
  font-size: 12px;
  font-weight: medium;
  text-align: center;
}

h4 {
  font-size: 14px;
  font-weight: lighter;
  text-align: center;
}

#btn1 {
  background-image: linear-gradient(to right, #17A051, #2465E6);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

#btn2 {
  border: 1px solid #67C38D;
  border-radius: 10px;
  cursor: pointer;
}

.btn3 {
  background-image: linear-gradient(to right, #17A051, #2465E6);
  color: #fff;
  border-radius: 10px;
}

#cont2 {
  box-shadow: 0 1px 22.3px rgba(0, 0, 0, 0.40);
  border-radius: 31px;
}

.bloco {
  min-width: 218px;
  min-height: 115px;
  max-width: 218px;
  max-height: 115px;
  border-radius: 10px;
  cursor: pointer;
}

.btnEfect {
  transition: all 300ms ease-in-out;
}

.btnEfect:hover {
  transform: translateY(-2px) scale(1.03);
  box-shadow: 0 10px 15px -3px rgba(187, 247, 208, 0.699), 0 4px 6px -4px rgba(187, 247, 208, 0.726);
}