

.text-log {
  margin: 0;
  color: #49A75D;
  height: 33px;
  top: 42px;
  margin-top: 20px;
  margin-left: -20px;
  font-family: 'Inter', sans-serif; 
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0; 
}


