
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');



.Sobre {
  font-family: "League Spartan", sans-serif;
}

.desc1 {
  font-family: "League Spartan", sans-serif;
  color: #3B3B3B;
}

.a {
  border-radius: 15px;
}

.pai {
  background-color: #FFF;
}

.leagueFont {
    font-family: "League Spartan", sans-serif;
}


.card-info {
  width: 534px;
  min-height: 97px; 
  border-radius: 20px;

  font-family: 'Inter', sans-serif;
  font-weight: 500; 
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 4px; 
  box-sizing: border-box;
}

.card-info > div:first-child {
  display: flex;
  align-items: center;
  gap: 12px;         
}


.card-info img {
  width: 33px; 
  height: 33px; 
  border-radius: 10px; 
  flex-shrink: 0; 
}

.card-info h2 {
  font-size: 20px;
  font-weight: 500; 
  margin: 0;
  color: #212121;
}

.card-info p {
  font-size: 14px;
  font-weight: 500; 
  margin: 0;
  color: #555555; 
  line-height: 1.4;
  margin-left: 56px;
}