@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

* {
  margin: 0;
}

/*Pode ser um futuro problema, pois estou */


div {
  font-family: 'inter', 'sans-serif';
}

.LeagueAs {
  font-family: "League Spartan", sans-serif;
}

.inter {
  font-family: 'inter', 'sans-serif';
}

.btn {
  cursor: pointer;
}

.Nunito {
  font-family: "Nunito Sans", sans-serif;
}

.btnDefault {
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btnDefault:hover {
  transform: translateY(-1px);
}

html {
  scroll-behavior: smooth;
}